/*body {
   margin: 0px;
}

.container projects {
    display: grid;
    grid-template-columns: 1fr;
}*/



/*.main_page {
    background-image: url('~/PeopleCooking.jpg');
    background-position: center;
    width: 30px;
    height: 20px;
}*/

/*.cell {
    border-radius: 10px;
    margin: 3px 3px 3px 3px;
    height: 16rem;*/
    /*display: inline-flex;*/
/*}

.cell image{
    height: 200px;
    width: 200px;*/
   /* display: flex;*/
/*}*/

/*.img{
    float: left;
    width: 100px;
    height: 100px;
    background-size: cover;
}*/

/*.square {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

img {
    position: absolute;
    max-width: 100%;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}

img.landscape {
    height: 100%;
    width: auto;
}

.index-picture {
    border: 5px solid greenyellow;
    margin-right: 20px;
    max-width: calc(33.3333% - 20px);
    //one third minus the 20px margin box-sizing:border-box;
    // include the borders in the sizing
}*/
.title{
    padding-left: 40px;
}

.button{
    padding-right: 50px;
    
    float: right;
    
}
.content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.recipe-items-wrapper {
    position: relative;
    color: aliceblue;
    margin: 4px;
}

.recipe-item-wrapper {
    position: relative;
    color: tan;
    
    margin: 4px;
}

.recipe-img-background {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
}

.img-text-wrapper{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.img-text-wrapper .recipe-name{
    transition: 1s;
    font-weight: 600;
    color: transparent;

}

.img-text-wrapper:hover .recipe-name {
    font-weight: 600;
    color: lavenderblush;
    font-size: 26px;
}

.img-darken{
    transition: 1s;
    filter: brightness(10%);
}

.anchor {
    height: 350px;
    width: 350px;
    
}



