@model IEnumerable<WhatsCookinGroupCapstone.Models.Reviews>

@{
    ViewData["Title"] = "SeeReviews";
}



<h1 style="font-family: 'Cookie', cursive; font-weight: 600; font-size: 50px;">SeeReviews</h1>


<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewForRecipe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewForRecipe)
            </td>        
        </tr>
}
    </tbody>
</table>
