@model WhatsCookinGroupCapstone.Models.RecipeEdits

@{ ViewData["Title"] = "SubmitEdit"};

<h1>Suggested Edits</h1>

<h4>Edits</h4>

<form action="/action_page.php">
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname"><br><br>
    <input type="submit" value="Submit" />
</form>
