@model WhatsCookinGroupCapstone.Models.RecipeEdits

@{ ViewData["Title"] = "SubmitEdit";}

<h1>Suggested Edits</h1>

<h4>Edits</h4>

<form action="/action_page.php">
    <label for="edit">Enter suggestion:</label>
    <input type="text" id="edit" name="edit"><br><br>
    <input type="submit" value="Submit" />
</form>
